<h1>URL Minifier</h1>

<h2>
    Example creation usage:
</h2>
<p>
  https://four-runner.glitch.me/new/https://www.google.com<br/>
  https://four-runner.glitch.me/new/https://www.theverge.com
</p>
<h3>
  Example creation output:
</h3>
<code>
  {
      original: https://www.google.com, 
      minified: https://four-runner.glitch.me/ByHZQESn-
    }
</code>
<h4>
  Usage:
</h4>
<p>
  four-runner.glitch.me/ByHZQESn-
</p>
<h4>
  Will redirect to:
</h4>
  <p>
    https://www.google.com
</p>